certifi
chardet
coreapi
coreschema
Django
django-filter
django-oauth-toolkit
django-rest-swagger
djangorestframework
idna
itypes
Jinja2
Markdown
MarkupSafe
oauthlib
olefile
openapi-codec
Pillow
pytz
requests
simplejson
uritemplate
urllib3
django-jet
django-rest-auth
